.mat-list-text {
  display: inline-block !important;
}
button {
  border: none;
  vertical-align: middle;
  height: 24px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
}
custom-tooltip a {
  color: #ffa500;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}
custom-tooltip a:hover {
  color: #d08700;
}