.tooltip-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -30px;
  left: -30px;
  background-color: rgba(44, 44, 44, 0.3);
}
.tooltip-wrapper {
  position: absolute;
  width: 410px;
  border-radius: 5px;
  padding: 15px;
  top: 60px;
  left: 90px;
  line-height: 24px;
  background-color: rgba(44, 44, 44, 0.77);
  color: #fff;
}
a {
  color: #ffa500;
}
.tooltip-time {
  display: inline-block;
}
.tooltip-clear-icon {
  float: right;
  cursor: pointer;
}